.tab_default{
    border-bottom:solid 1px #F2F2F2;
    padding:6px 0;
}
.tab_select{
    border-bottom:solid 1px #3E89F5;
    /*box-shadow:0 -3px 8px #C1D3F0 inset;*/
}
/*画三角*/
.arrow-top {
    position: absolute;
    width: 0;
    height: 0;
    top:20px;
    border: 6px solid #3E89F5;
    border-right-color:transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}
.arrow-top:after {
    content:'';
    position:absolute;
    width: 0;
    height: 0;
    border: 12px solid #fff;
    right: -12px;
    bottom: -13px;
    border-right-color:transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}


.box {
    position: relative;
}
.line_bottom{
    height: 1px;
    width:100%;
    background-color: #b7daf0;
    position:absolute;
    transform: scaleY(0.3);
    -webkit-transform: scaleY(0.3);
}