<div style="width:100%;text-align: center;">
    <div  ng-if = "$index === 3" class="row text-center nav-container" >
        <a  ng-repeat="item in womanNames" class="col-33 nav-bar-link">
            {{item}}
        </a>
    </div>
    <div ng-if = "$index === 3" class="row text-center nav-container">
        <a  ng-repeat="item in womanNames" class="col-33 nav-bar-link">
            {{item}}
        </a>
    </div>

    <div class="list">
        <div class="line-bar"></div>
        <div class="item">
            <div class="card-body">
                <img src="img/beauty_lg01.jpg" alt="">
                <a class="card-body-btn">共16件</a>
                <div class="text-center card-text">
                    <span class="card-text-title">无法形容如此有气质的它</span>
                    <span class="card-text-body">lirdescence New York 买就对了</span>
                </div>
            </div>
            <div class="text-center woman-product-list row row-bottom">
                <div class="col col-33">
                    <img src="img/beauty01.jpg" alt="">
                    <p>lirdescence New York</p>
                    <span>¥&nbsp;&nbsp;1170 <b>已售1件</b></span>
                    <img src="img/beauty14.jpg" alt="">
                    <p>lirdescence New York</p>
                    <span>¥&nbsp;&nbsp;1170 <b>已售1件</b></span>
                </div>
                <div class="col col-33">
                    <img src="img/beauty03.jpg" alt="">
                    <p>lirdescence New York</p>
                    <span>¥&nbsp;&nbsp;1170 <b>已售1件</b></span>
                    <img src="img/beauty15.jpg" alt="">
                    <p>lirdescence New York</p>
                    <span>¥&nbsp;&nbsp;1170 <b>已售1件</b></span>
                </div>
                <div class="col col-33">
                    <img src="img/beauty05.jpg" alt="">
                    <p>lirdescence New York</p>
                    <span>¥&nbsp;&nbsp;1170 <b>已售1件</b></span>
                    <img src="img/beauty06.jpg" alt="">
                    <p>lirdescence New York</p>
                    <span>¥&nbsp;&nbsp;1170 <b>已售1件</b></span>
                </div>
            </div>
        </div>
    </div>
    <div class="line-bar"></div>
    <div class="item">
        <div class="card-body">
            <img src="img/beauty_lg02.jpg" alt="">
            <a class="card-body-btn">共16件</a>
            <div class="text-center card-text">
                <span class="card-text-title">无法形容如此有气质的它</span>
                <span class="card-text-body">lirdescence New York 买就对了</span>
            </div>
        </div>
        <div class="text-center woman-product-list row row-bottom">
            <div class="col col-33">
                <img src="img/beauty07.jpg" alt="">
                <p>lirdescence New York</p>
                <span>¥&nbsp;&nbsp;1170 <b>已售1件</b></span>
                <img src="img/beauty08.jpg" alt="">
                <p>lirdescence New York</p>
                <span>¥&nbsp;&nbsp;1170 <b>已售1件</b></span>
            </div>
            <div class="col col-33">
                <img src="img/beauty09.jpg" alt="">
                <p>lirdescence New York</p>
                <span>¥&nbsp;&nbsp;1170 </span>
                <img src="img/beauty10.jpg" alt="">
                <p>lirdescence New York</p>
                <span>¥&nbsp;&nbsp;1170 </span>
            </div>
            <div class="col col-33">
                <img src="img/beauty11.jpg" alt="">
                <p>lirdescence New York</p>
                <span>¥&nbsp;&nbsp;1170 </span>
                <img src="img/beauty12.jpg" alt="">
                <p>lirdescence New York</p>
                <span>¥&nbsp;&nbsp;1170 </span>
            </div>
        </div>
    </div>
</div>

</div>