<div style="width:100%;text-align: center;">
<div class="line-bar"></div>

<div class="list">


    <div class="item text-center">
        <div class="item-header">
            <h3>全球秒杀</h3>
            <p>距离本场结束: 00:41:03</p>
        </div>
            <div class="row">
                <div class="col-33 sift-box">
                    <span>
                        <img src="img/snap_up.png" alt="" class="snap_up">
                    </span>
                    <img src="img/sift02.png" alt="">
                    <b>¥7750.00</b>&nbsp;&nbsp;<s>¥15800</s>
                    <p>CHLOE皮革小号限量版</p>
                    <a class="sift-btn">立即抢</a>
                </div>
                <div class="col-33 sift-box">
                    <img src="img/snap_up.png" alt="" class="snap_up">
                    <img src="img/sift01.png" alt="">
                    <b>¥7750.00</b>&nbsp;&nbsp;<s>¥15800</s>
                    <p>CHLOE皮革小号限量版</p>
                    <a class="sift-btn">立即抢</a>
                </div>
                <div class="col-33 sift-box">
                    <span>
                        <img src="img/snap_up.png" alt="" class="snap_up">
                    </span>
                    <img src="img/sift02.png" alt="">
                    <b>¥7750.00</b>&nbsp;&nbsp;<s>¥15800</s>
                    <p>CHLOE皮革小号限量版</p>
                    <a class="sift-btn">立即抢</a>
                </div>
            </div>
        </div>
    </div>

    <div class="line-bar"></div>

    <div class="item">
        <div class="card-product">
            <div class="card-header row row-center">
                <div class="card-head-portrait col col-10">
                    <img src="img/card-head-portrait01.jpg" alt="" class="card-head-portrait-img ">
                </div>
                <div class="col col-20">
                    <h6 class="h6">研究生</h6>
                    <span>HIGO选款师</span>
                </div>
                <div class="card-top col col-33 col-offset-25 ">
                    <span>↑TOP1</span>&nbsp;&nbsp;<span>人气指数3238</span>
                </div>
            </div>
            <div class="card-body">
                <img src="img/product_lg01.jpg" alt="">
                <span class="card-body-btn">共27件</span>
                <div class="text-center card-text">
                    <span class="card-text-title">情人节前&nbsp;&nbsp;打开她的心扉</span>
                    <span class="card-text-body">钥匙吊坠开启你们的无线可能</span>
                </div>
            </div>
            <div class="card-footer row row-center text-center">
                <div class="col col-33">
                    <img src="img/product01.jpg" alt="">
                    <p>10.DEEP</p>
                    <b>¥ 990</b>
                </div>
                <div class="col col-33">
                    <img src="img/product02.jpg" alt="">
                    <p>10.DEEP</p>
                    <b>¥ 990</b>
                </div>
                <div class="col col-33">
                    <img src="img/product03.jpg" alt="">
                    <p>10.DEEP</p>
                    <b>¥ 990</b>
                </div>
                <div class="col col-33">
                    <img src="img/product03.jpg" alt="">
                    <p>10.DEEP</p>
                    <b>¥ 990</b>
                </div>
                <div class="col col-33">
                    <img src="img/product03.jpg" alt="">
                    <p>10.DEEP</p>
                    <b>¥ 990</b>
                </div>
            </div>
        </div>
    </div>

    <div class="line-bar"></div>
    <div class="item">
        <div class="location-container">
            <img src="img/product_lg02.jpg" alt="">
            <div class="location">
                <i class="icon ion-location"></i>&nbsp;
                <span>法国&nbsp;&nbsp;巴黎</span>
            </div>
            <i class="icon ion-ios-heart-outline love"></i>
        </div>
        <div class="text-center location-text">
            <h2>Marie Elie</h2>
            <p>17新款&nbsp;&nbsp;亮片渐开叉袖连衣裙</p>
            <span>¥ 1950.00</span>
            <div class="location-btn">
                <a href="#" class="">Marie Elie</a>
                <a href="#" class="">连衣裙</a>
            </div>
        </div>
    </div>
    <div class="line-bar"></div>

<div class="item">
    <div class="card-product">
        <div class="card-header row row-center">
            <div class="card-head-portrait col col-10">
                <img src="img/card-head-portrait01.jpg" alt="" class="card-head-portrait-img ">
            </div>
            <div class="col col-20">
                <h6 class="h6">研究生</h6>
                <span>HIGO选款师</span>
            </div>
            <div class="card-top col col-33 col-offset-25 ">
                <span>↑TOP1</span>&nbsp;&nbsp;<span>人气指数3238</span>
            </div>
        </div>
        <div class="card-body">
            <img src="img/product_lg01.jpg" alt="">
            <a class="card-body-btn">共27件</a>
            <div class="text-center card-text">
                <span class="card-text-title">情人节前&nbsp;&nbsp;打开她的心扉</span>
                <span class="card-text-body">钥匙吊坠开启你们的无线可能</span>
            </div>
        </div>
        <div class="card-footer row row-center text-center">
            <div class="col col-33">
                <img src="img/product01.jpg" alt="">
                <p>10.DEEP</p>
                <b>¥ 990</b>
            </div>
            <div class="col col-33">
                <img src="img/product02.jpg" alt="">
                <p>10.DEEP</p>
                <b>¥ 990</b>
            </div>
            <div class="col col-33">
                <img src="img/product03.jpg" alt="">
                <p>10.DEEP</p>
                <b>¥ 990</b>
            </div>
            <div class="col col-33">
                <img src="img/product03.jpg" alt="">
                <p>10.DEEP</p>
                <b>¥ 990</b>
            </div>
            <div class="col col-33">
                <img src="img/product03.jpg" alt="">
                <p>10.DEEP</p>
                <b>¥ 990</b>
            </div>
        </div>
    </div>
</div>

<div class="line-bar"></div>
<div class="item">
    <div class="location-container">
        <img src="img/product_lg02.jpg" alt="">
        <div class="location">
            <i class="icon ion-location"></i>&nbsp;
            <span>法国&nbsp;&nbsp;巴黎</span>
        </div>
        <i class="icon ion-ios-heart-outline love"></i>
    </div>
    <div class="text-center location-text">
        <h2>Marie Elie</h2>
        <p>17新款&nbsp;&nbsp;亮片渐开叉袖连衣裙</p>
        <span>¥ 1950.00</span><span> &nbsp;&nbsp;已售9件</span>
        <div class="location-btn">
            <a href="#" class="">Marie Elie</a>
            <a href="#" class="">连衣裙</a>
        </div>
    </div>
</div>
<div class="line-bar"></div>
</div>